nav {
    background-color: black;
    height: 5%;
    padding: 1rem;
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    list-style: none;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  
  nav img {
    max-width: 90%;
  }